%h1, %h2, %h3, %h4, %h5 {
  line-height: 1.2;
  font-weight: 200;
}

%h1 {
  font-size: $mod_mobile*$mod_mobile*$mod_mobile*$mod_mobile *1rem;
  @include fluid-type($min_width, $max_width, $mod_mobile*$mod_mobile*$mod_mobile*$mod_mobile *$min_font, $mod_desktop*$mod_desktop*$mod_desktop*$mod_desktop *$min_font);
}

%h2 {
  font-size: $mod_mobile*$mod_mobile*$mod_mobile *1rem;
  @include fluid-type($min_width, $max_width, $mod_mobile*$mod_mobile*$mod_mobile *$min_font, $mod_desktop*$mod_desktop*$mod_desktop *$min_font);
}

%h3 {
  font-size: $mod_mobile*$mod_mobile *1rem;
  @include fluid-type($min_width, $max_width, $mod_mobile*$mod_mobile *$min_font, $mod_desktop*$mod_desktop *$min_font);
}

%h4 {
  font-size: $mod_mobile*1rem;
  @include fluid-type($min_width, $max_width, $mod_mobile *$min_font, $mod_desktop *$min_font);
}

%h5 {
  font-size: 1rem;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-weight: 400;
}
