.Contact {
  position: relative;
  text-align: center;
  background: none !important;
  height: auto;

  &--Headline {
    @extend %h3;

    display: inline-block;
  }

  &--Content {
    margin: 50px 50px;
    z-index: 2;
    position: relative;
    padding: 15px 0 20px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    @include media-breakpoint-up(xl) {
      margin: 50px 0;
    }

    &:after {
      content: '';
      clear: both;
    }

    &Wrapper {
      width: 100%;
      max-width: 1024px;
      display: inline-block;
    }
  }

  &--Text {
    position: relative;
    left: 50%;
    width: 10em;
    transform: translateX(-50%);

    &:after {
      content: '';
      display: block;
      height:0;
      width: 2.3em;
      border-top: 2px solid darkgoldenrod;
      margin: 1em calc(50% - (2.3em / 2));
    }

    &__Name {
      font-size: .8em;
    }

    &__Name,
    &__Strasse,
    &__Ort {
      margin-bottom: 0;
      text-align: left;
      line-height: 1.2em;
    }

    &__Strasse,
    &__Ort {
      display: inline-block;
      text-indent: -9999px;
      line-height: 0;
      font-size: 1em;
    }

    &__Strasse:after,
    &__Ort:after {
      display: block;
      color: #3f3f3f;
      height: auto;
      margin: 0;
      text-indent: initial;

      line-height: 1.2em;
    }

    &__Strasse:after {
      content: '\004A\006F\0068\0061\006E\006E\0065\0073\002D\0047\0065\006C\006C\0065\0072\002D\0053\0074\0072\002E\0020\0032'
    }

    &__Ort:after {
      content: '\0034\0031\0034\0036\0032\0020\004E\0065\0075\0073\0073'
    }
  }

  &--Imprint {
    @extend %copy_small;

    position: relative;
    text-align: center;
    z-index: 2;
    bottom: 0;
    background-color: #3f3f3f;
    color: #fff;
    margin: 0;
    padding: 20px 0;
    border-top: 2px solid darkgoldenrod;
  }

  &--Print,
  &--Mail,
  &--Xing,
  &--Linkedin {
    font-size: 1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    display: inline-block;
    margin: .2em 1em;
    transition: all 250ms cubic-bezier(.25,.8,.25,1);

    color: #3f3f3f;
    text-indent: -10000px;
    text-align:unset;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5) grayscale(1);

    &:hover,
    &:active {
      cursor: pointer;
      filter: none;
    }
  }

  &--Mail {
    background-image: url('https://api.iconify.design/fa-envelope.svg?color=%23b8860b');
  }

  &--Xing {
    background-image: url('https://api.iconify.design/fa-brands:xing-square.svg?color=%23b8860b');
  }

  &--Linkedin {
    background-image: url('https://api.iconify.design/fa-brands:linkedin.svg?color=%23b8860b');
  }
}