.Chart {
  justify-content: space-around;
  width: 25%;
  margin-left: 38.5%;

  @include media-breakpoint-up(lg) {
    width: 70%;
    margin-left: 15%;
  }
}

.Chart__Circle {
  display: block;
  max-height: 140px;

  @include media-breakpoint-up(lg) {
    margin: 30px auto auto;
    max-height: 300px;
  }

  &--Background {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
  }

  &--Circle {
    &__Orange,
    &__Green,
    &__Blue {
      fill: none;
      stroke-width: 2.8;

      .fp-completely & {
        animation: progress 1s cubic-bezier(.25,.8,.25,1) forwards;
      }
    }

    &__Orange {
      stroke: #e6bc78;
    }

    &__Green {
      stroke: #88E6BC;
    }

    &__Blue {
      stroke: #68b8f2;
    }
  }

  &--Text {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
  }
}

