%icon-git-pull-request {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='18' cy='18' r='3'/%3E%3Ccircle cx='6' cy='6' r='3'/%3E%3Cpath d='M13 6h3a2 2 0 0 1 2 2v7'/%3E%3Cline x1='6' y1='9' x2='6' y2='21'/%3E%3C/svg%3E");
}

%icon-layers {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpolygon points='12 2 2 7 12 12 22 7 12 2' /%3E%3Cpolyline points='2 17 12 22 22 17' /%3E%3Cpolyline points='2 12 12 17 22 12' /%3E%3C/svg%3E%0A");
}

%icon-terminal {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpolyline points='4 17 10 11 4 5' /%3E%3Cline x1='12' y1='19' x2='20' y2='19' /%3E%3C/svg%3E%0A");
}

.Skills {
  h4 {
    line-height: 1.2em;

    @include media-breakpoint-down(md) {
      text-align: left;
      margin-left: -1em;
      display: inline-block;
    }
  }

  .content {
    width: 100%;
  }

  &--Container {
    position: relative;
    text-align: center;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &--Frontend:before {
    @extend %icon-terminal;
  }

  &--Backend:before {
    @extend %icon-layers;
  }

  &--Devops:before {
    @extend %icon-git-pull-request;
  }

  &--Frontend:before,
  &--Backend:before,
  &--Devops:before {
    content:'';
    height: 3em;
    width: 3em;
    display: inline-block;
    position: relative;
    top: 5px;
    left: -1.6em;
  }

  &--Frontend,
  &--Backend,
  &--Devops {
    background-color: #fff;
    margin: 1em .5em;
    padding: 15px 0;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    border-top: 2px solid darkgoldenrod;
  }

  @include media-breakpoint-up(lg) {
    &--Frontend,
    &--Backend,
    &--Devops {
      position: relative;
      display: block;
      float: left;
      width: calc(33% - 1em);
      text-align: center;
      padding: 200px 25px 25px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }

    &--Frontend:before,
    &--Backend:before,
    &--Devops:before {
      content:'';
      height: 150px;
      width: 150px;
      display: block;
      position: absolute;
      top: 25px;
      left: 50%;
      margin-right: -50%;
      transform: translateX(-50%);
    }
  }

  &--TechStack {
    padding: 10px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}