@page {
  margin: 0;
}

html {
  font-size: 10pt;
}

body  {
  margin: 1.6cm !important;
}

* {
  opacity: 1 !important;
}

h2 {
  font-size: 20pt !important;
}

.ContentContainer,
.About--Image
{
  position: static !important;
}

section {
  height: auto !important;
}

header,
footer,
#WelcomeSection {
  display: none !important;
}

.ContentContainer {
  margin: 0 !important;
  transform: none !important;
  padding: 0 !important;
}

.ContentWrapper {
  margin: 0;
}

.About--Image {
  margin: 0 auto !important;
  transform: none !important;
}

.About--Container {
  display: flex;
}

.About--Text {
  width: 75%;
  padding-right: 50px;
}

.About--Image {
  max-width: 220px;
  max-height: 220px;
  margin: 50px 20px 20px !important;
}

#SkillsSection {
  background: none;
  width: 45%;
  float: right;
}

.Skills--Container {
  display: none;
}

#ExperienceSection {
  width: 50%;
  float: left;
}

.Timeline__Experience {
  margin-left: 30%;
}

.About--Headline {
  margin-bottom: 20px;
}

.Experience--Headline, .Skills--Headline {
  margin: 50px 0 1em !important;
  text-align: left;
}

.Skills--Headline {
  margin-left: 40px !important;
}

.Skills--TechStack {
  display: block;
}

.TechStack {
  width: auto;
  height: auto;
  border-left: 1px solid black;
  padding-top: 0;
  padding-bottom: 10px;
}

.TechStack--List {
  display: block;
  margin-top: 8px;
}

.TechStack--Item__Angular,
.TechStack--Item__Html5,
.TechStack--Item__Css3,
.TechStack--Item__Sass,
.TechStack--Item__Angular,
.TechStack--Item__Nodejs,
.TechStack--Item__Php,
.TechStack--Item__Symfony,
.TechStack--Item__MySql,
.TechStack--Item__RabbitMq,
.TechStack--Item__GitLab,
.TechStack--Item__Ansible,
.TechStack--Item__Docker,
.TechStack--Item__Apple,
.TechStack--Item__Linux,
.TechStack--Item__Windows
{
  text-indent: 0;
  text-align: left;
  background: none;
  display: block;
  line-height: 1.5;
  height: auto;
  width: 200px;
  font-size: 1rem;
  cursor: default;
  transition: none;
  filter: none;
  user-select: text;
  margin: 0 0 .6em calc(80px - .5em);

  &:hover {
    transform: none;
    font-size: inherit;
    line-height: 1.5;
  }

  &:after {
    display: block;
    content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
    float: right;
    color: #212529;
    width: 100px;
  }
}

.TechStack--Item__Angular:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Html5:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Css3:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Sass:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Angular:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Nodejs:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Php:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Symfony:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__MySql:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__RabbitMq:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__GitLab:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Ansible:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Docker:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Apple:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Linux:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}
.TechStack--Item__Windows:after {
  content: '\25CF\0000a0\25CF\0000a0\25CF\0000a0\25CF\0000a0';
}