.Header {
  &--Navigation {
    width: 100%;
    position: absolute;

    @include media-breakpoint-up(md) {
      float: right;
      margin-right: 3%;
      display: inline-block;
      width: 66%;
      font-size: 23px;
      position: initial;
    }
  }

  &--NavigationList {

  }
}