body {
  min-width: 320px;
}

.PageWrapper {
  height: 100%;
  overflow-x: hidden;
}

.section:not(.Contact) {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  body:not(.fp-responsive) & {
  }

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.section:nth-child(even) {
  background-color: $background_alt;
}

.section:nth-child(odd) {
  background-color: $background;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ContentWrapper {
  @include media-breakpoint-down(md) {
    margin: 4.5em 0 3em;
  }
}