body {
  min-width: 320px;
}

.PageWrapper {
  overflow-x: hidden;
}

.section {
  width: 100%;
  overflow: hidden;

  padding-top: 2.3636em;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.section:nth-child(even) {
  background-color: $background_alt;
}

.section:nth-child(odd) {
  background-color: $background;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}