$white: #fff;
$lightgray: #e3e3e3;
$darkgray: #282828;

$gold: #e8aa0d;

$ocher: #e6bc78;
$orange: #e6845c;
$green: #88e6bc;
$blue: #68b8f2;

$text: $darkgray !default;

$background: $white !default;
$background_alt: $lightgray !default;

$accent: $gold !default;