%icon-git-pull-request {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='18' cy='18' r='3'/%3E%3Ccircle cx='6' cy='6' r='3'/%3E%3Cpath d='M13 6h3a2 2 0 0 1 2 2v7'/%3E%3Cline x1='6' y1='9' x2='6' y2='21'/%3E%3C/svg%3E");
}

%icon-layers {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpolygon points='12 2 2 7 12 12 22 7 12 2' /%3E%3Cpolyline points='2 17 12 22 22 17' /%3E%3Cpolyline points='2 12 12 17 22 12' /%3E%3C/svg%3E%0A");
}

%icon-terminal {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233f3f3f' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpolyline points='4 17 10 11 4 5' /%3E%3Cline x1='12' y1='19' x2='20' y2='19' /%3E%3C/svg%3E%0A");
}

.Skills {
  &--Container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-top: 2px solid darkgoldenrod;
    text-align: center;

    @include media-breakpoint-up(lg) {
      box-shadow: none;
      border: none;

      display: flex;
    }
  }

  &--HeadlineBox {
    display: inline-block;
    text-align: left;
    margin-left: -1em;

    @extend %h4;

    @include media-breakpoint-up(lg) {
      text-align: center;
      margin-left: 0;
    }
  }

  &--Frontend,
  &--Backend,
  &--Devops {
    cursor: pointer;
    position: relative;
    padding: .5em 0;

    &:before {
      content:'';
      height: 3em;
      width: 3em;
      display: inline-block;
      position: relative;
      top: 10px;
      left: -1.6em;

      @include media-breakpoint-up(lg) {
        position: absolute;
        height: 6em;
        width: 6em;
        display: block;
        top: 1.5em;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
      }
    }

    &:after {
      content: '';
      display: block;
      border-bottom: 1px solid $gray;
      width: 90%;
      margin: 1em 5% 0;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    &:last-child:after {
      border: none;
    }

    @include media-breakpoint-up(lg) {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      text-align: center;
      padding: 8em 1.5em 1.5em;

      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }
  }

  &--Frontend {
    &:before {
      @extend %icon-terminal;
    }

    @include media-breakpoint-up(lg) {
      width: 32%;
      order: 1;
    }
  }

  &--Backend {
    &:before {
      @extend %icon-layers;
    }

    @include media-breakpoint-up(lg) {
      width: 32%;
      order: 2;
      margin: 0 2%;
    }
  }

  &--Devops {
    &:before {
      @extend %icon-git-pull-request;
    }

    @include media-breakpoint-up(lg) {
      width: 32%;
      order: 3;
    }
  }
}