body, input, select, textarea {
  color: #3f3f3f;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.container img {
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

.section {
  position: relative;
  overflow: hidden;
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  padding: 62px 50px;
  background: #fff;
}

.PageWrapper {
  overflow-x: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-height: calc(100vh - 62px);
  margin-top: 25px;
  padding: 0 10vw 0 5vw;
  max-width: 1024px;

  @include media-breakpoint-up(md) {
    max-height: calc(100vh - 70px);
    padding: 0 10vw;
    margin-top: 45px;
  }

  @include media-breakpoint-up(xl) {
    max-height: calc(100vh - 70px);
    padding: 0;
    margin-top: 45px;
  }
}

.section:nth-child(even) {
  background-color: #f0f0f0;
}

.section:nth-child(odd) {
  background-color: #fff;
}

::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}
