.About {
  &--Headline {
    @extend %h3;
  }

  &--Image  {
    max-width: 240px;
    max-height: 240px;

    left: 50%;
    position: relative;
    margin-right: -50%;
    margin-top: 2em;
    transform: translateX(-50%);

    @include media-breakpoint-up(sm) {
      max-width: 280px;
      max-height: 280px;
    }

    @include media-breakpoint-up(md) {
      max-width: 320px;
      max-height: 320px;
    }
  }

  @include media-breakpoint-up(xl) {
    &--Container {
      display: flex;
    }

    &--Text {
      order: 1;
      width: calc(95% - 320px);
    }

    &--Image  {
      position: static;
      margin-right: 0;
      margin-left: auto;
      transform: translateX(0);
      order: 2;
      margin-top: 2.5em;
    }
  }
}