.Header {
  background: $background_header;
  color: $text_header;

  position: fixed;
  width: 100%;
  z-index: $layer_navigation;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-bottom: 2px solid $darkgolden;

  padding: .25em 1em;

  transition: all .5s cubic-bezier(.25,.8,.25,1);

  &--Logo {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    float: left;

    margin-top: 7.5px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    @extend %clearfix;
  }

  &--Navigation {
    max-width: 66%;
    display: inline-block;
    float: right;

    @extend %clearfix;
  }
}
